@import 'src/sass/mixins.scss';
@import 'src/sass/variables.scss';

.header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $background--header;
  min-height: 110px;
  padding: 20px 0;
  margin-bottom: 198px;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 74px;
    bottom: -98px;
    background: linear-gradient(
      to bottom,
      $background--footer 0,
      $background--footer 4px,
      transparent 4px,
      transparent 14px,
      $background--footer 14px,
      $background--footer 18px,
      transparent 18px,
      transparent 28px,
      $background--footer 28px,
      $background--footer 32px,
      transparent 32px,
      transparent 42px,
      $background--footer 42px,
      $background--footer 46px,
      transparent 46px,
      transparent 56px,
      $background--footer 56px,
      $background--footer 60px,
      transparent 60px,
      transparent 70px,
      $background--footer 70px,
      $background--footer 74px
    );
  }

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 298px;
    bottom: -260px;
    background-image: url('../../img/image-header.png');
    background-image: -webkit-image-set(url('../../img/image-header.webp'));
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url('../../img/image-header@2x.png');
      background-image: -webkit-image-set(url('../../img/image-header@2x.webp'));
    }
  }
}

.wrapper {
  @include wrapper;
  display: flex;
  align-items: center;
}
