@import 'src/sass/mixins.scss';
@import 'src/sass/variables.scss';

.title {
  @include filter-legend;
  display: block;
  margin-bottom: 0;
  padding-bottom: 29px;
  border-bottom: 0.7px solid $border--lightgrey;
}
