@import './variables.scss';

@mixin wrapper {
  width: $wrapper-width;
  margin: 0 auto;
}

@mixin list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin fieldset-border-none {
  border: none;
  margin: 0;
  margin-top: 30px;
  padding: 24px 0 29px;

  &:not(:last-child) {
    border-bottom: 1px solid $border--lightgrey;
  }
}

@mixin input-border {
  border: .7px solid $border--grey;
  border-radius: 2px;
}

@mixin filter-item {
  position: relative;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

@mixin filter-checkbox {
  @include interactive;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

@mixin filter-checkbox-checked {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  top: 5px;
  left: 5px;
  background-image: url('../img/svg/check.svg');
  background-repeat: no-repeat;
}

@mixin filter-label {
  @include interactive;
  margin-top: 3px;
  font-size: 16px;
  line-height: 19px;
  padding-left: 40px;

  &::before {
    @include input-border;
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
  }
}

@mixin link {
  color: black;
  text-decoration: none;
}

@mixin button {
  font-family: $font--default;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

@mixin footer-title {
  font-size: $font-size--default;
  line-height: 44px;
  opacity: .7;
  margin: 0;
}

@mixin filter-legend {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}

@mixin interactive {
  cursor: pointer;

  &:hover {
    opacity: .6;
  }

  &:focus {
    outline-color: orange;
  }

  &:disabled {
    opacity: 1;
    cursor: default;
  }
}
