// Fonts
$font--default: 'Droid Sans', 'Arial', sans-serif;
$font-size--default: 14px;
$line-height--default: 20px;

// Breakpoints
$desktop-width: 1020px;
$wrapper-width: 940px;
$wrapper-width--relative: 92.16vw;

//Colors
$background--header: rgba(30, 9, 6, 0.15);
$background--footer: #3F3F3F;
$border--grey: #9F9E9E;
$border--lightgrey: #DDDADA;
$star--yellow: #FFD168;
$btn--orange: #E27F00;
$btn--silver: #C1C1C1;
$red--default: #F20505;
